:root {
  --primary-color: #6a8ade;
  --level-1: #104b8c;
  --level-2: #fbb2dd;
  --level-3: #6cfffe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h3 {
  background-color: #f7f7f7;
  font-size: 2.25rem;
  color: #a4a4a4;
  padding: 50px 0 55px 20px;
}
.flex-header-bg {
  background-color: var(--primary-color);
}
.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1030px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 20px 0;
  color: #fff;
}

.flex-header h1 {
  font-size: 2rem;
  font-weight: 500;
}
.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 400;
  gap: 40px;
}

.flex-main {
  max-width: 1030px;
  margin: 0 auto;
}

.flex-main h1,
.flex-main h2 {
  font-size: 2.5rem;
  letter-spacing: 0.05rem;
}

.flex-main h1 {
  font-weight: 700;
  margin: 60px 0 40px 0;
}

.flex-main > h2 {
  font-weight: 600;
  margin-bottom: 40px;
}

.flex-about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-about::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #6a8ade;
  margin-bottom: 60px;
}

.flex-about::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #6a8ade;
  margin: 60px 0;
}

.flex-about h2 {
  flex-basis: 100%;
}
.flex-about p {
  max-width: 500px;
  font-size: 1.5rem;
  line-height: 2.1rem;
  color: #707070;
}

.about-images {
  display: flex;
  object-fit: cover;
  flex-wrap: wrap;
  gap: 10px;
}

.img-mountain-2 {
  height: 250px;
}

.flex-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 20px;
  align-items: end;
  margin-bottom: 60px;
}

.flex-content h2 {
  flex-basis: 100%;
}

.content-element {
  flex: 1;
}

span {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.bar-detail-1 {
  background-color: var(--level-1);
}
.bar-detail-2 {
  background-color: var(--level-2);
}
.bar-detail-3 {
  background-color: var(--level-3);
}

.flex-qualities {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f7f7;
  padding: 60px 120px 0px 120px;
  gap: 30px;
  justify-content: center;
}

.flex-qualities h2 {
  color: #959595;
  display: flex;
  font-weight: 500;
  flex-wrap: wrap;
  font-size: 2.25rem;
  gap: 10px;
}

.flex-qualities h2::before {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  align-self: center;
}

.flex-qualities div:nth-child(3n + 1) h2::before {
  background-color: var(--level-1);
}

.flex-qualities div:nth-child(3n + 2) h2::before {
  background-color: var(--level-2);
}

.flex-qualities div:nth-child(3n + 3) h2::before {
  background-color: var(--level-3);
}

.flex-qualities p {
  color: #959595;
  font-size: 1.25rem;
  margin-top: 20px;
}

.flex-qualities div {
  width: calc(33.333% - 60px);
  margin-bottom: 80px;
}

@media (max-width: 68rem) {
  .flex-header {
    margin: 0 20px;
  }
  .flex-main h1,
  .flex-main h2 {
    font-size: 1.75rem;
    margin-left: 20px;
  }

  .flex-about p {
    font-size: 1.25rem;
    margin-left: 20px;
  }
  .flex-content h3 {
    font-size: 1.75rem;
  }

  .flex-qualities h2 {
    font-size: 1.75rem;
  }

  .flex-qualities p {
    font-size: 1.1rem;
  }
}

@media (max-width: 64rem) {
  .img-mountain-2 {
    display: none;
  }

  .img-mountain-1 {
    margin-right: 20px;
  }
}

@media (max-width: 60rem) {
  .flex-qualities h2::before {
    width: 25px;
    height: 5px;
    margin-bottom: 5px;
  }
  .flex-qualities h2 {
    display: block;
  }
}

@media (max-width: 56rem) {
  .flex-qualities h2::before {
    display: none;
  }

  .flex-qualities h2 {
    font-size: 2rem;
  }
  .flex-qualities p {
    display: none;
  }

  .flex-qualities div {
    width: calc(50% - 60px);
    text-align: center;
  }
}

@media (max-width: 50rem) {
  .flex-about h2 {
    text-align: center;
  }
  .flex-main > h1 {
    text-align: center;
    font-size: 2.25rem;
  }
  .flex-about {
    justify-content: center;
    gap: 20px;
  }

  .img-mountain-1 {
    height: 300px;
    border-radius: 3px;
  }
  .flex-about h2,
  .flex-about p,
  .img-mountain-1 {
    margin: 0px;
  }
  .flex-about::before {
    margin-bottom: 20px;
  }
}

@media (max-width: 40rem) {
  .flex-qualities {
    display: none;
  }
  .header-nav ul li:nth-child(3) {
    display: none;
  }
  .flex-content {
    gap: 0px 10px;
  }
  .flex-content h3 {
    padding: 20px 0 25px 20px;
    font-size: 1.5rem;
  }
}

@media (max-width: 34rem) {
  .img-mountain-1 {
    height: 200px;
  }
}

@media (max-width: 28rem) {
  .flex-header {
    flex-direction: column;
    align-items: center;
  }

  .flex-about {
    text-align: center;
  }
  .header-nav {
    margin-top: 20px;
  }
  .flex-content h2 {
    font-size: 1.5rem;
    margin: 10px 10px;
  }
  .flex-content h3 {
    font-size: 1.1rem;
    padding: 15px 0 20px 20px;
  }

  .flex-about::after {
    margin: 20px 0;
  }

  .flex-main h1 {
    margin-bottom: 30px;
  }
}
